{% extends 'base.html' %}
{% load static %}



{% block title %}
   Logowanie
{% endblock %}

{% block content %}
    <div class="client">
        <h1>Logowanie</h1>
        <form class="form-with-validation register-form" action="{% url 'users_app:login' %}" method="POST">
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            {% if form.errors %}#}
{#                <ul>#}
{#                {% for field in form %}#}
{#                    {% for error in field.errors %}#}
{#                        <li>{{ field.label }}: {{ error }}</li>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                {% for error in form.non_field_errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#            <button class="button-33" role="button" type="submit">Zarejestruj się</button>#}

            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            {% endif %}

            <button class="button-33" role="button">Zaloguj</button>

        </form>
        <div class="client">
            <a href="{% url 'users_app:register' %}"><button class="button-33" role="button">Nowy użytkownik</button></a>
        </div>
        <a href="/" class="homepage"><img src="{% static 'images/back-arrow.png' %}"></a>
    </div>

{% endblock %}



