{% extends 'base.html' %}
{% load static %}



{% block title %}
   Rejestracja użytkowników
{% endblock %}

{% block content %}
    <div class="client ">
        <h1>Rejestracja</h1>
        <form class="form-with-validation register-form" action="{% url 'users_app:register' %}" method="POST">
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            {% if form.errors %}#}
{#                <ul>#}
{#                {% for field in form %}#}
{#                    {% for error in field.errors %}#}
{#                        <li>{{ field.label }}: {{ error }}</li>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                {% for error in form.non_field_errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#            <button type="submit">Zarejestruj się</button>#}

            {% csrf_token %}
            {{ form }}
            <button class="button-33" role="button">Submit</button>
        </form>
        <a href="/" class="homepage"><img src="{% static 'images/back-arrow.png' %}"></a>
    </div>

{% endblock %}



