
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #44B78B;
}

a:hover {
    opacity: .65;
}

section {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    color: #444;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f1f1f1;
    font-size: 2rem;
}

tbody {
    font-size: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #44B78B;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8f4f2;
}
/*
 **Kolor Ta `#f9f9f9` oraz Czarny Tekst `#000000`:** Og贸lne kolory strony, aby cao bya czytelna i estetyczna.
- **Nag贸wek `header`:** U偶ywa koloru `#44B78B` jako ta, z centrowaniem zawartoci.
- **G贸wnasekcja `content`: Mieci si w 80% szerokoci ekranu, ma biae to oraz obramowanie.
- **Nag贸wki `h1`:** U偶ywaj koloru `#44B78B` i s wycentrowane.
- **Linki `a`:** Maj kolor `#44B78B`, a po najechaniu myszk tekst staje si podkrelony.
- **Tabela**:
  - Nag贸wki tabeli `thead`: To w kolorze `#44B78B` i biay kolor tekstu.
  - Kom贸rki tabeli `th`, `td`: Maj obramowanie, padding oraz tekst wyr贸wnany do lewej.
  - Rzdy tabeli `tr:nth-child(even)`: Co drugi rzd ma delikatny janiejszy kolor ta, aby uatwi czytanie.
  - Rzdy tabeli `tr:hover`: Zmieniaj kolor ta na janiejszy odcie zielonego po najechaniu myszk (`#e8f4f2`), co poprawia interaktywno.*/

.homepage {
    position: fixed;
    right: 20px;  /* Odlego od prawej krawdzi */
    bottom: 20px; /* Odlego od dolnej krawdzi */
    /*background-color: #44B78B; !* Opcjonalny kolor ta dla linku *!*/
    padding: 10px;
    /*border-radius: 50%;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.client {
    color: whitesmoke;
    position: absolute;
    left: 20px;

}

.homepage img {
    width: 24px; /* Szeroko obrazka, dostosuj wedug potrzeb */
    height: 24px; /* Wysoko obrazka, dostosuj wedug potrzeb */
}

.homepage:hover {
    /*background-color: #099b72; !* Kolor ta na hover *!*/
}

.table-wrapper {
        overflow-y: auto;
        max-height: 400px; /* Maksymalna wysoko kontenera z przewijaniem */
        border: 1px solid #ddd;
    }

.banner {
    /*display: block;*/
    /*width: auto;*/
    max-width: 400px;
    height: auto;
    /*max-height: 400px;*/
    padding-top: 10px;
}

.form-with-validation {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: ' ';
}


.logout {
    display: inline-block;
}

.logout-button {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.logout-button:hover {
    opacity: .85;
}

/* CSS */
.button-33 {
    margin: 1rem 0rem 1rem 0rem;
  background-color: #44B78B;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    width: 10rem;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);

}


.navbar {
    display: flex;
    align-items: center; /* Optional: Align items vertically centered*/
}

.navbar a {
    padding: 0 10px; /* Adjust spacing between links as needed */
}

.navbar .admin_logo {
    margin-left: auto; /* Pushes the admin link to the right */
}