{% extends 'base.html' %}
{% load static %}



{% block title %}
   Nowy Klient
{% endblock %}

{% block content %}
    <div class="client">
        <h1>
            Nowy Klient
        </h1>
        <form class="form-with-validation " action="{% url 'orm:new-client' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="form-submit button-33">Dodaj Klienta</button>
        </form>
    </div>
    <a href="/klienci" class="homepage"><img src="{% static 'images/back-arrow.png' %}"></a>
{% endblock %}




