{% extends 'base.html' %}
{% load static %}

{% block title %}
    Jakas podstrona
{% endblock %}

{% block content %}
    <h1>Lista Klientów</h1>

    <section>
    <div class="table-wrapper">
         <table>
            <thead>
                <tr>
                    <th>Nazwa Klienta</th>
                    <th>Adres</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>
                            <a href="{% url 'orm:client_page' slug=client.slug %}">
                                {{ client.name }}
                            </a>
                        </td>
                        <td>{{ client.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
    </div>
    </section>
{% endblock %}




