{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    Edytuj klienta: {{ client.name }}
{% endblock %}

{% block content %}
  <h1>Edytuj klienta: {{ client.name }}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
{#    <button type="submit">Zapisz zmiany</button>#}
    {% bootstrap_button button_type="submit" content="Zapisz zmiany" %}
  </form><br>
  <a href="{% url 'orm:client_page'  id=client.id slug=client.slug %}">{% bootstrap_button content='Anuluj' %}</a>
{% endblock %}