<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    {% load django_bootstrap5 %}
    {%  bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
   
</head>
<body>
    <nav class="navbar">
        <a href="/" title="Strona domowa"><img src="{% static 'images/home.png' %}"></a> ||
        {% if user.is_authenticated %}
            <a href="{% url 'orm:new-client' %}" title="Nowy Klient"><img src="{% static 'images/new-employee.png' %}"></a> |
            <a href="{% url 'orm:client_list' %}" title="Klienci"><img src="{% static 'images/rating.png' %}"></a> ||   
            <a href="{% url 'users_app:register' %}" title="Nowy użytkownik"><img src="{% static 'images/user.png' %}" alt="user icon"></a> | {# register#}
            <form class="logout" action="{% url 'users_app:logout' %}" method="post">
                {% csrf_token %}
    
                <button class="logout-button" title="Wyloguj"><img src="{% static 'images/exit-door.png' %}"></button>
            </form> |
            
        
        {% else %}
            <a href="{% url 'users_app:register' %}" title="Nowy użytkownik"><img src="{% static 'images/user.png' %}" alt="user icon"></a> | {# register#}
            <a href="{% url 'users_app:login' %}" title="Logowanie"><img src="{% static 'images/password.png' %}"></a> |   {# login#}        
        
        {% endif %}   &nbsp&nbsp&nbsp&nbsp__LIMS__project.blog
        <a href="/admin" title="Admin, czyli Ja" class="admin_logo"><img src="{% static 'images/software-engineer.png' %}"></a>  {# admin#}
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}

    </main>


</body>
</html>