{% extends 'base.html' %}


{% block title %}
    Główna
{% endblock %}

{% block content %}
    <div class='p-5 text-center bg-body-tertiary rounded-3'>
    <h1 class="text-body-emphasis">Strona główna.</h1><br>
    <p class="col-lg-8 mx-auto fs-5 text-muted">Tu cos można wpisać i inne takie, ale glównie chodzi o to,
    żeby przejsc z tąd na inną strone.
    Na tej <a href="{% url 'orm:new-client' %}" class="text-decoration-none">podstronie</a> bedzie można wypełnć formularz dodania klienta
    z aplikacji LIMS. Takie początki nauki.
    A tu jeszcze <a href="{% url 'orm:client_list' %}" class="text-decoration-none">dalej</a> idziemy do listy Klientów</p>
    </div>
{% endblock %}
